.App {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;
}

.App button {
  width: 100px;
  margin-bottom: 10px;
}

.Form {
  display: flex;
  flex-direction: row;
}

.Form input {
  width: 300px;
  margin: 0 10px 10px 0;
}