.App {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;
}

.Form {
  display: flex;
  flex-direction: row;
}

.Form input {
  width: 300px;
  margin-right: 10px;
}